<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "mm3e.modifier.name"}}</th>
                <th>{{localize "mm3e.advantage.collectionName"}}</th>
               
                <th>{{localize "mm3e.effect.type"}}</th>
                <th>{{localize "mm3e.effect.name"}}</th>
                
                <th>{{localize "mm3e.effect.cost"}}</th>
                <th>{{localize "mm3e.effect.isFlat"}}</th>
            </tr>
            <tr>
               
                <td>
                    <input name="data.name" type="text" value="{{data.name}}"/>
                </td>
                <td>
                    <input name="data.collectionName" type="text" value="{{data.collectionName}}"/>
                </td>
                <td>
                    <select name="data.effect.type">
                        {{#select data.effect.type}}
                        {{#each config.typeNames as |name type|}}
                        <option value={{type}}>{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                
                <td>
                    <input name="data.effect.name" type="text" value="{{data.effect.name}}"/>
                </td>

                <td>
                    <input name="data.cost" type="text" value="{{data.cost}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.isFlat" type="text" value="{{data.isFlat}}"/>
                </td>
            </tr>
        </table>
        <h6>{{localize "mm3e.advantage.description"}}</h6>
        <br/>
        <textarea name="data.description" style="margin:.5em;">{{data.description}}</textarea>
        <br/>
        <h6>{{localize "mm3e.effect.effectDescription"}}</h6>
        <textarea name="data.effect.effectDescription" style="margin:.5em;"> {{data.effect.effectDescription}}</textarea>
    </div>
</form>
